.article {
  min-width: 40rem;
  width: 50rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: 2rem 40rem 2rem 4rem auto 4rem 2rem;
  border-radius: 0.4rem;
  gap: 3rem 0;
}

.articleImageBox {
  display: flex;
  grid-column: 1 / -1;
  grid-row: 1 / 4;
  overflow: hidden;
}

.articleImage {
  object-fit: cover;
  object-position: center;
  height: 100%;

  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.articleLine {
  grid-column: 1 / -1;
  grid-row: 4;
  background: var(--gray-light);
  align-self: start;
  height: 0.2rem;
}

.articleTitle {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--text-color);
  grid-column: 1 / -1;
  grid-row: 4;
  padding: 2rem 0;
}

.articleText {
  font-size: 2rem;
  font-weight: 400;
  color: var(--primary);

  grid-column: 1 / -2;
  grid-row: 5;
}

.articleButton {
  grid-column: 1 / -1;
  grid-row: 6;
  align-self: end;
  justify-self: start;

  text-decoration: none;
  display: inline-block;
  padding: 1.2rem 2.6rem;
  margin-top: 2.4rem;
  font-size: 2.4rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: var(--text-color);
  color: var(--secondary);
  font-weight: 400;
}
