.hamburger {
  cursor: pointer;

  z-index: 1000;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;

  grid-column: -3;
  grid-row: 1;
  align-self: center;

  @media (min-width: 900px) {
    display: none;
  }

  label {
    --buns-colors: var(--secondary);
    --buns-height: 0.27rem;
    --buns-width: 4rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;

    transition: 2ms ease;

    .b-default {
      background-color: var(--buns-colors);
      width: var(--buns-width);
      height: var(--buns-height);
      display: inline-block;
      transform-origin: center;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
  }
}

.open {
  .top {
    transform: translateY(1rem) rotate(45deg);
  }

  .meat {
    opacity: 0;
  }

  .bottom {
    transform: translateY(-1rem) rotate(-45deg);
  }
}

.closed {
  .top {
    transform: translateY(0) rotate(0);
  }

  .meat {
    opacity: 1;
  }

  .bottom {
    transform: translateY(0) rotate(0);
  }
}
